/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    color: greenyellow;
    padding: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Agrega más estilos según tus necesidades */
