{% extends "home.html" %}
{% block body %}
    <body>
    <!-incluimos el header-->
    {% include "header.html" %}
    
    <!-Bloque para contenido-->
     <div class="content" style="margin-top:20px;">
        <div class= "row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10">
                    {% block content %}

                    {% endblock %}
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
    <!-Bloque para javascript-->
    {% block javascript %}

    {% endblock %}
    
{% endblock body %}
